<div class="login-wrapper d-flex justify-content-center align-items-center">
  <div class="login-card p-4 shadow rounded">
    <h1 class="title text-center">Warehouse</h1>
    <p class="subtitle text-center">Sign in to your account</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label class="form-label">Email</label>
      <div class="input-group mb-1">
        <span class="input-group-text bg-light">
          <i class="bi bi-envelope icon"></i>
        </span>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter your email"
          [class.is-invalid]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
        />
      </div>
      <div style="height: 20px;">
        <small class="text-danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
          Please enter email
        </small>
        <small class="text-danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('pattern')">
          Please enter a valid email
        </small>
      </div>

      <label class="form-label mt-3">Password</label>
      <div class="input-group mb-1">
        <span class="input-group-text bg-light">
          <i class="bi bi-lock icon"></i>
        </span>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your password"
          [class.is-invalid]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
        />
      </div>
      <div style="height: 20px;">
        <small class="text-danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
          Please enter password
        </small>
      </div>

      <button
        type="submit"
        class="btn w-100 mt-4 login-btn"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
    <button
      type="button"
      class="btn w-100 mt-4"
      (click)="forgotPassword()"
    >
      Forgot Password
    </button>

    <p class="footer-text text-center mt-4">
      Don't have an account?
      <a routerLink="/signUp" class="register-link" [replaceUrl]="true">Register here</a>
    </p>
  </div>
</div>