
  .icon-box {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(25, 135, 84, 0.1);
    color:#198754;
    font-size: 1.3rem;
  }
